@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ...................All simmilar code....................... */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

.container{
    width: 1270px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
}

.column{
    width: 22.33%;
    margin: 0px 8px;
    text-align: center;
    background: white;
}
  
input::placeholder {
    padding: 0px 10px ;
}


/* ...................Footer section....................... */
footer{
    background: #0175b3;
    padding: 12px 0;
}

.footer-content{
    width: 30%;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 14px;
}

.footer-content ul{
    list-style: none;
}

.footer-content ul li{
    font-size: 14px;
    color: white;
    padding: 0px 2px;
}

.footer-content ul li i{
    padding: 0 5px;
}

.footer-text {
    color: white;
    padding: 0 10px 0px 0px;
}

.social{
    width: 70%;
    flex: 0 0 auto;
    justify-content: flex-end;
    font-size: 18px;
}

.social ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}


.social ul li a{
    color: white;
    padding: 15px 13px;
}

/*................Footer section end.............*/

/* ................Header section............. */
header{
    padding: 11px 0px;
}

.logo{
    width: 20%;
    flex: 0 0 auto;
}

nav{
    width: 63%;
    flex: 0 0 auto;
}

nav ul{
    padding: 0px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #686868;
    padding: 25px 18px;
    display: block;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #0385cb;
}

.search{
    width: 210px;
    height: 40px;
    padding: 5px;
}

.search-icon{
    margin: 10px -40px;
    color: gray;
}

/* ...............Header section end............. */

/* ...............Home section............. */
.home-section{
    position: relative;
}

.home-img{
    width: 100%;
}

.home-content{
    position: absolute;
    top: 57%;
    left: 13%;
    }

.home-text{
    margin: 0px 0px;
    font-size: 72px;
    color: #0385cb;
}

.home-p{
    font-size: 24px;
    color: #888888;
    font-weight: 300;
    width: 60%;
    padding-bottom: 88px;
}

.home-btn{
    text-decoration: none;
    font-size: 17px;
    background: #017ec1;
    color: white;
    padding: 14px 41px;
    border-radius: 5px;
}
/* ...............Home section end............. */

/* ................Welcome section............. */
.welcome{
    width: 100%;
}

.welcome-text{
    font-size: 40px;
    color: #0175b3;
    text-align: center;
    margin-top: 40px;
}

.welcome-line1{
    height: 2px;
    width: 9%;
    background: #737171;
    display: block;
    margin:  auto;
    margin-top: 30px;
}

.welcome-line2{
    height: 2px;
    width: 5%;
    background: #737171;
    display: block;
    margin: 0px auto;
    margin-top: 8px;
}

.welcome-p{
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    margin: 0 20%;
    margin-top: 36px;
}

.welcome-slider{
    text-align: center;
    font-size: 15px;
    padding: 55px 0;
}

.welcome-slider i{
    padding: 0 5px;
    color: #737171;
    transition: 0.3s;
}

.welcome-slider i:hover {
    color: #017ec1;
}
/* ................Welcome section end............. */

/* ................Consultion section............. */
.consultion{
    position: relative;
}

.consultion-img{
    width: 100%;
}

.consultion-content{
    position: absolute;
    top: 54%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.consultion-text1{
    font-size: 38pt;
    color: white;
}

.consultion-text2{
    font-size: 72pt;
    color: white;
}

.consultion-line
{
    height: 4px;
    width: 27%;
    background: #bab3b3;
    display: block;
    margin: 0px auto;
    margin-bottom: 84px;
}

.consultion-btn{
    border-radius: 2px;
    font-size: 17px;
    text-decoration: none;
    background: #0175b3;
    color: white;
    padding: 10px 43px;
}
/* ................Consultion section end............. */

/* ................Expart team text section............. */
.expart-team-section{
    padding: 42px 0;
}

.expart-text{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #0175b3;
}
/* ................Expart team text section end............. */

/* ................Team section............. */
.team{
    background: #d8d8da;
    padding: 107px 0px;
}

.team-img{
    margin: -13px;
}

.team-text{font-size: 22px;color: #0175b3;padding: 19px;}

.team-p{
    width: 277px;
    padding: 10px;
}
/* ................Team section end............, */

/* ................Services section............. */

.services-text-h{
    font-size: 40px;
    text-align: center;
    color: #0175b3;
    margin-top: 71px;
}

.column-services{
    width: 24.33%;
    margin: 0px 6px;
    text-align: center;
    background: white;
    border: #f1f1f1 solid 1px;
    padding: 72px 7px;
    margin-bottom: 0px;
    margin-top: 80px;
}

.services-text{
    font-size: 23px;
    color: #0175b3;
}

.services-text-p{
    padding: 27px 0px;
    font-size: 16px;
    color: #686868;
}

.column-services i{
    font-size: 35px;
    padding: 15px;
    color: #686868;
}
/* ................Services section end............. */

/* ................Client section............. */
.client{
    position: relative;
}

.client-img1{
    width: 100%;
}

.client-content{
    position: absolute;
    top: 37%;
    left: 50%;
    margin-bottom: 233px;
    transform: translate(-50%, -50%);
}

.client-text{
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 500;
}

.client-text-p{
    font-size: 18px;
    color: white;
    margin: auto;
    margin-top: 45px;
    width: 80%;
    text-align: center;
}

.client-img2{
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 42%);
}

.client-btn{
    align-items: center;
    border-radius: 2px;
    font-size: 17px;
    text-decoration: none;
    background: #0175b3;
    color: white;
    display: block;
    padding: 10px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 450%);
}
/* ................Client section end............. */

/* ................About section.............  */
.about{
    margin: 62px 0;
}

.about-text{
    text-align: center;
    font-size: 40px;
    color: #0175b3;
}

.about-text-p1{
    text-align: center;
    font-size: 18px;
    color: #6d6e72;
    width: 34%;
    margin: auto;
    margin-top: 60px;
}

.about-text-p2{
    text-align: center;
    font-size: 18px;
    color: #6d6e72;
    width: 34%;
    margin: auto;
    margin-top: 10px;
}

.about-text-p3{
    text-align: center;
    font-size: 18px;
    color: #6d6e72;
    width: 34%;
    margin: auto;
    margin-top: 10px;
}
/* ................About section end.............  */

/* ................Contact section............. */
.contact{
    background: #1a4876;
    padding: 70px 0;
}


.contact-text{
    font-size: 30px;
    color: white;
    margin-top: -50px;
}

.contact-text-p{
    background: #1a4876;
    padding: 23px 0px;
    width: 64%;
    color: white;
}

.contact-column input{
    margin: 7px 6px;
    width: 218px;
    height: 30px;
}

.contact-msg input{
    width: 454px;
    height: 50px;
}

.contact-btn{
    font-size: 17px;
    font-weight: 600;
    margin-top: 18px;
    margin-left: 8px;
    padding: 8px 23px;
    background: white;
    color: #404042;
    border: none;
    border-radius: 5px;
}
/* ................Contact section end............. */

/* ................end section............. */
.end{
    background: #363a42;
    padding-top: 106px;
}

.end-column{
    width: 23.33%;
    margin: 0px 8px;
    text-align: center;
    background: #363a42;
}

.end-text-about{
    font-size: 24px;
    color: white;
    text-align: left;
}

.end-text-about-p{
    font-size: 16px;
    color: white;
    font-weight: 300;
    padding: 39px 0;
    text-align: start;
}

.end-about-contact{
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.end-about-contact p{
    padding: 5px 0;
}

.end-text-contact{
    padding: 28px 0;
    margin-top: -125px;
    color: white;
}

.end-text-contact-line{
    color: white;
}

.end-text-contact-line li{
    padding: 5px;
    margin-left: 89px;
    text-align: left;
    list-style: none;
}

/* ,,,,,,,,,,,,,,,,,,,, */
.end-text-service{
    font-size: 24px;
    color: white;
}

.end-text-service-p{
    font-size: 16px;
    color: white;
    font-weight: 300;
    padding: 39px 0;
    text-align: start;
}

.end-service-contact{
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.end-text-service{
    padding: 28px 0;
    margin-top: -93px;
    color: white;
    margin-left: -10px;
}

.end-text-service-line{
    color: white;
}

.end-text-service-line li{
    padding: 5px;
    margin-left: 60px;
    text-align: left;
    list-style: none;
}

.end-text-news{
    font-size: 24px;
    color: white;
    margin: -60px 0;
    text-align: left;
}

.end-text-news-p{
    font-size: 16px;
    color: white;
    font-weight: 300;
    margin-top: 100px;
    text-align: start;
}

.end-email{margin: 30px 0;
    padding: 10px 0;
    width: 178px;
    margin-left: -59px;
}

.end-btn{
    padding: 12px;
    margin-left: -5px;
    background: #1766b6;
    border: none;
    color: white;
}

.end-social ul{
    list-style: none;
    display: flex;
}

.end-social ul li{
    padding: 0 15px;
    font-size: 21px;
    margin-left: -10px;
}

.end-social ul li i{
    color: white;
}

.copyright{
    text-align: center;
    padding: 64px 0;
    color: white;
}


/* ................end section end............. */